$color_50:  #ECEFF1;
$color_100: #CFD8DC;
$color_200: #B0BEC5;
$color_300: #90A4AE;
$color_400: #78909C;
$color_500: #607D8B;
$color_600: #546E7A;
$color_700: #455A64;
$color_800: #37474F;
$color_900: #263238;

$color_A100: #FF80AB;
$color_A200: #FF4081;
$color_A400: #F50057;
$color_A700: #C51162;

$op_divider: 0.12;
$op_disable: 0.26;
$op_hint: 0.26;
$op_secondary: 0.54;
$op_icons: 0.54;
$op_text: 0.87;

$black_full: #000000;
$black_text: #212121;
$black_secondary: #727272;
$black_disabled: #B8B8B8;
$black_divider: #DADADA;

$white_full: #FFFFFF;
$white_divider: #F9F9F9;
$white_disabled: #FBFBFB;
$white_secondary: #FDFDFD;
$white_text: #FFFFFF;

$page_background: #EEEEEE;