@import "mixins";
@import "codemirror";
@import "zenburn";
@import "fonts";
@import "colors";
@import "glyphicons";

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: 'Titillium Web', sans-serif;
}

html {
  color: $black_text;
}

pre {
  font-size: 0.8em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
  background: $page_background;
}

a {
  color: $color_A400;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $color_700;
  }
}



.ink {
  display: block;
  position: absolute;
  background: rgba(121, 153, 206, 0.05);
  border-radius: 100%;
  transform: scale(0);

  &.animate {
    animation: ripple 0.8s linear;
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}


.sidebar {
  margin-left: -160px;
  width: 176px;
  position: fixed;
  top: 0;
  left: 160px;
  bottom: 0;
  z-index: 1000;
  background: $color_900;
  overflow-y: auto;
  border-right: 1px solid $black_full;
}

.sidebar {

  h1 {
    color: $white_full;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 32px;

    li {
      padding: 0;
      margin: 0;
    }
  }

  a {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;


    color: $color_A200;
    &:hover {
      color: $color_500;
    }
  }
}

.meta {
  color: $black_secondary;
  float: right;
}

form {
  width: 100%;
}

fieldset {
  border: 0;
}

textarea {
  width: 100%;
}

input {
  width: 100%;
  padding: 0;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  border-bottom: 1px dashed rgba(0, 0, 0, $op_hint);

  &:focus {
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}

.left-menu {
  margin-bottom: 16px;
  padding: 8px;
}

.right-menu {
  position: fixed;
  width: 100%;
  max-width: 240px;
  top: 16px;
  margin-left: 16px;
  color: #fff;
  background: $color_A700;

  button,
  a {
    color: $color_50;
  }

  button {
    width: 100%;
    text-align: left;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  .ink {
    background: rgba(255, 255, 255, $op_disable);
  }

}

ul.list {

  @include material-shadow(1);

  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &.first {
    }

    &.last {
      border-bottom: 0;
    }
  }

  a,
  button {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 8px 8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: padding;
    transition-property: padding;

    &:hover,
    &:focus,
    &:active {
      padding: 12px 8px;
    }
  }
}

.toolbar {
  background: $white_full;
  background: $color_800;
  color: $white_full;
  padding: 8px 32px 8px 16px;
  height: 32px;
  line-height: 2em;

  @include material-shadow(1);

  h3 {
    margin-left: 8px;
    display: inline;
    text-transform: uppercase;
  }

  input {
    color: $white_full;
    width: auto;
  }

  button,
  a {
    color: $color_A200;
    text-align: left;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;

    .logo {
      color: $white_full;
    }

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color_100;
    }


  }

  .actions {
    float: right;
    margin-top: 2px;

    a {
      margin-left:16px;
    }
  }

  .dirty {
    color: #ffba00;
  }

  .saving {
    color: #00ba00;
  }
}

.box {
  @include material-shadow(1);
  background: #fff;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 8px;
}

.content {
  margin-top: 16px;
  p > code {
    font-size: 0.8em;
  }
}

pre {
    @include material-shadow(2);
}

pre, code {
  font-family: Inconsolata, monospace;
}

.CodeMirror {
  height: auto;
}

.CodeMirror pre {
  box-shadow:none;
}

#main {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}